<!DOCTYPE hmtl>
<html>

<head>
    <meta charset="utf-8">
    <title>Some website</title>
</head>

<body>
    {{> header}}
    <p>Soon, there shall be projects here.</p>
    {{> footer}}
</body>

</html>